#donut {
    width: 680px;
    height: 300px;
}

.donutTooltip1 {                                                        
    position: absolute;           
    text-align: center;         
    width: 100px;                    
    height: 40px;                   
    padding: 10px 2px 10px 2px;               
    font: 12px sans-serif;      
    background: white; 
    border: 1px solid #4393E6;        
    border-radius: 8px;         
    pointer-events: none;  
    display: none;                                                    
}    

.donutTooltip2 {                                                        
    position: absolute;           
    text-align: center;         
    width: 100px;                    
    height: 40px;                   
    padding: 10px 2px 10px 2px;               
    font: 12px sans-serif;      
    background: white; 
    border: 1px solid #4393E6;        
    border-radius: 8px;         
    pointer-events: none;  
    display: none;                                                       
}   

.donutTooltip3 {                                                        
    position: absolute;           
    text-align: center;         
    width: 100px;                    
    height: 40px;                   
    padding: 10px 2px 10px 2px;               
    font: 12px sans-serif;      
    background: white; 
    border: 1px solid #4393E6;        
    border-radius: 8px;         
    pointer-events: none;   
    display: none;                                                      
}                  