
.container {
  /*margin: 10vh auto;*/
  /*justify-content: center;*/
  display: flex;
  flex-flow: row wrap;
}
.main {
  display: flex;
  margin: 0.7em 0 0.7em 0.7em;
  transition: 0.5s all ease;
  transform-style: preserve-3d;
  position: relative;
  cursor: pointer;
  width: 20%;
  min-width: 200px;
  max-width: 250px;
  height: 160px;
  box-shadow: 1px 1px 5px #000;
}
.main .front{
  /*background: #34495e;*/
  background: white;
  position: absolute;
  width: 30%;
  min-width: 200px;
  max-width: 250px;
  height: 160px;
  transition: 0.5s all ease;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  backface-visibility: hidden;
}
.main .back{
  /*background: #34495e;*/
  background: white;
  position: absolute;
  width: 30%;
  min-width: 200px;
  max-width: 250px;
  height: 160px;
  transition: 0.5s all ease;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  backface-visibility: hidden;
}
.main .front .text{
    top: 10px;
}
.main .front {
  text-align: center;
  color: #000;
}
.main .back {
  color: #fff;
  transform: rotateY(180deg);
}
.main .back .social {
  width: auto;
  bottom: 0;
  margin: auto;
  text-align: center;
}
.main .back .social i {
  margin: 5px;
}
.main .back .skills {
  margin: 0 auto;
  text-align: center;
  padding: 1.5em;
}
.main .back .skills .skill-ele {
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  position: relative;
}
.main:hover .front {
  transform: rotateY(180deg);
  z-index: 2;
}
.main:hover .back {
  transform: rotateY(0deg);
}
