body{
    background-color: #F6F5F5;
    font-family: "Avenir";
}

.part1{
    margin-bottom:16px;
    box-shadow:1px 1px 2px 0 #CCCCCC;
    padding:20px;
    box-shadow:0 2px 5px 0 rgba(0,0,0,.26);
    background:white !important;
}