.headline {
    text-align: center;
}

p {
    text-align: left;
    margin: 10px 30px 20px 45px;
}

#graphics{
    margin: 30px;
}

 .d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: #9EA8AE;
    color: white;
    border-radius: 2px;
  }
  .d3-tip:after {
    box-sizing: border-box;
    display: none;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: relative;
    text-align: center;
  }
  .d3-tip.n:after {
    margin: -5px 0 0 0;
    top: 100%;
    left: 0;
  }
  .d3-tip span {
    color: #F41537;
  }

/*  .legend {
    fill: none;
    stroke: #ccc;
  }*/
